html,body{
    width: 100%;
    height: 100%;
}
section{
    overflow-y: scroll;
    
}
#app{
    width: 100%;
    height: 100%;
    .goods{
        width: 100%;
        height: 100%;
        background: #fff;
        @include flexbox();
        @include flex-direction(column);
         .goshare{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.7);
            z-index: 10000;
            .wrap{
                width: 2.56rem;
                height: 4.22rem;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                z-index: 10001;
                .keysbox{
                    width: 100%;
                    height: 3.52rem;
                    background: #fff;
                    border-radius: 5%;
                    ul{
                        width: 100%;
                        height: 100%;
                        li{
                            width: 100%; 
                            &:first-child{
                               height: 1.15rem; 
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &:nth-child(2){
                                height: 1.7rem;
                                @include flexbox();
                                padding: 25px;
                            }
                            &:last-child{
                                height: .67rem;
                                @include flexbox();
                                padding-top: .17rem;
                                color: #ff4891;
                                font-size: 13px;
                                @include justify-content(center);
                                background: url(../media/red-share-up-notice.png) no-repeat top center;
                                background-size: .1rem .1rem;
                            }
                        }
                    }
                }
                .cancel{
                    width: 100%;
                    height: .4rem;
                    background: url(../media/reason-close-btn.png) no-repeat top center;
                    background-size: .35rem .35rem;
                    margin-top: .3rem;
                }
            }
        }
    }
}